# This file is the top-most EditorConfig file
root = true

# All Files
[*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.py]
file_header_template = {fileName}\nCopyright (c) Charité Universitätsmedizin Berlin. All Rights Reserved.\nLicensed under GNU General Public License v3.0.\nAuthor: Leon Martin
