.DS_Store
.conda
.vscode

# Folders
dev

# Wildcard Folders
**/Autofiles/BifurcationData
**/__pycache__
**/tvbo.egg-info

backend_test.pkl
Icon?
tests/tvb_validation

# Documentation
docs/_build/
docs/api/
docs/auto_examples/
docs/**/*.ipynb
docs/**/*.py
docs/gen_modules/
docs/_api/
docs/apidocs/
build
.litellm_cache
output
test_export
tvbo/data/tvb-go/go-basic.obo
.pdm-python
.tvb_ext_ontology.log
**.mako.py
tvbo/.temp
simulation_cache.pkl
requirements.old.txt
_archive
gitlab_token.txt
tvbo-runtime.*

# Quarto builds
*.html
*.pdf
*.docx
*.log
*_cache/
*.knit.md
*.sty
*.aux
.manuscript/.quarto/
manuscript/manuscript_files
manuscript/_extensions
manuscript/_output

/.luarc.json
manuscript/elsarticle.cls
manuscript/manuscript.spl
manuscript/elsarticle-num.bst
manuscript/elsarticle-num-names.bst
manuscript/manuscript/_output
*_assignments.csv
tvbo/data/tvb-go/go.obo
manuscript/code/dev-fig-kg-interoperability.spl
manuscript/code/elsarticle.cls
manuscript/code/elsarticle-num.bst
manuscript/manuscript.tex
manuscript/manuscript.toc
manuscript/code/dev*

*.ipynb
docs/Use-Cases
manuscript/.quarto-logs
manuscript/_freeze
manuscript/_inspo
_extensions
docs/_site
docs/datamodel
docs/_site_libs
.quarto
docs/_freeze
database/_extra
manuscript/_notes
