# Copy to report/_quarto-internal.yml. The `--profile internal` overlay. Activating it sets
# QUARTO_PROFILE=internal, which report.qmd reads (INTERNAL = ...) to draw the paper figure
# beside each reproduction. This file only renames the output so the internal build
# (embedding © author figures) can never overwrite the committed, copyright-safe report.pdf.
# report_internal.pdf is git-ignored.
format:
  pdf:
    output-file: report_internal.pdf
