cff-version: 1.2.0
message: If you use this study, please cite it as below.
title: {study}
abstract: One sentence on what this study does.
type: dataset
authors:
    - given-names:
      family-names:
      orcid:
      affiliation:
license: CC-BY-4.0
keywords:
    - simulation
    - brain network model
